div {
    border: 1px;
    width: 300px;
    height: 500px;
}

input {
    width: 200px;
    height: 25px;
}

.container {
    display:flex;
    border-style: dashed;
    align-items: center;
}
#initial{
    background-color: white;
    border-bottom-style: dashed;
    border-top-style: dashed;
}
#fail{
    background-color: red;
}
#success{
    background-color: chartreuse;
    
}
.right{
    font-size: 30px;
    display:flex;
    align-items: center;
}

form + form {
    margin-top: 40px;
}