div {
    border: 1px;
    border-style: dashed;
    width: 300px;
    height: 500px;
}

input {
    width: 200px;
    height: 25px;
    
}

.container {
    display:flex;
    
}
.initial{
    background-color: white;
}
.failure{
    background-color: red;
}
.success{
    background-color: chartreuse;
    
}
.right{
    font-size: 30px;
    display:flex;
    align-items: center;
}