div {
    border: 1px;
    border-style: dashed;
    width: 300px;
    height: 500px;
}

input {
    width: 200px;
    height: 25px;
    
}

.container {
    display:flex;
    
}
.col-sm1{
    background-color: chartreuse;
}
.col-sm2{
    background-color: red;
}